* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100vw;
    height: 100vh;
    background-color: #8bc6ec;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .card {
    width: 400px;
    height: 610px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .card img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }
  .textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: 5%;
  }
  .amtbox {
    width: 100%;
    height: 70px;
    background-color: #97d2f9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .left {
    display: flex;
    align-items: center;
  }
  .left img {
    width: 40px;
    height: 40px;
  }
  .left p {
    padding-left: 10px;
  }
  .right a {
    padding-right: 10px;
    color: #19326c;
    text-decoration: none;
    font-weight: bold;
  }
  .payment {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pay {
    width: 100%;
    height: 50px;
    background-color: #19326c;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    cursor: pointer;
  }
  .cancelbox {
    margin-top: 10px;
  }
  .cancelbox a {
    text-decoration: none;
    color: rgb(59, 57, 57);
    font-size: large;
    font-weight: bold;
  }
